*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0a192f;
    font-family: 'poppins',sans-serif;
    color: #f3f3f3;
}
.title h1{
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: #fca311;
}
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding: 50px 150px;
}

.item {
    display: flex;
    flex: 1 1 calc(50% - 30px); /* 2 items per row */
    gap: 20px;
    background-color: #112240;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    min-width: 280px;
    transition: transform 0.4s ease;
}
.item:hover{
    transform: scale(1.05);
}

.items img {
    height: 200px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.05);
}
.item-info h4 {
    margin-bottom: 10px;
    font-size: 20px;
    
}

.item-info .price {
    color: #00ff88;
    font-weight: bold;
}

.item-info p {
    margin-top: 10px;
    font-size: 14px;
    color: #ebe6e6;
}
.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px auto;
}

.filter-btn {
    padding: 10px 20px;
    background-color: #FF8C00;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.filter-btn:hover {
    background-color: white;
    transform: scale(1.05);
    color: #FF8C00;
    outline: 1px solid #FF8C00;
}



@media (max-width: 768px) {
    .items {
        padding: 20px;
        font-size: 15px;
    }
    

    .item {
        flex: 1 1 100%;
        flex-direction: column;
        text-align: center;
    }

    .item img {
        
        height: 180px;
    }
}